/* You can add global styles to this file, and also import other style files */

@import 'palette';
@import 'variables';

html {
  font-family: $default-fonts;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}